
form(action="/reader", method="post")
  mixin field(4, "text", "hero", "Hero's name", hero, "Your Name", true)
  mixin field(4, "text", "dog", "A Dog's Name", dog, "Fido")
  mixin field(4, "text", "child", "A Child's Name", child, "Suzy")

  button.tiny.success.rounded.radius(value='submit') Save

//- mixin field(colSize, type, name, text, value, placeholder, autofocus)
//- input(value=value, type=type, name=name, placeholder=placeholder, autofocus=autofocus)